@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


img {
  width: 100%;
}

header .logo {
  text-align: center;
  margin: 20px;
}

header nav ul {
  text-align: center;
  margin: 20px;
}

header nav ul li {
  display: inline-block;
  padding: 16px 16px;
}

.banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 20px;
}

header h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 3px;
  color: black;
  text-transform: uppercase;
}

nav {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

nav a{
  text-decoration: none;
}

nav a:hover{
  font-weight: bold;
}

nav a:visited {
  color: black;
}

hr {
  border-color: black;
  border-width: 4px;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.meist img {
  display: none;
}

.meist-h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding: 20px;
}

.meist p {
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  text-align: justify;
}

.retseptid {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px;
}

.gallery-image {
  margin: 10px;
  text-align: center;
  position: relative;
}

.gallery-image img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.cooking {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 4px 4px 9px black;
  position: absolute;
}

footer {
  padding: 30px 30px;
  background-color: #C6C6C6;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-links {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: black;
}

footer ul li {
  padding: 0 0 5px 0;
  list-style: none;
}

.footer-sm {
  width: 40px;
}

.footer-sm img {
  width: 100%;
  margin: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .gallery-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .banner {
    margin: 40px;
  }

  .meist-h2 {
    padding-left: 60px;
    padding-bottom: 0;
  }

  .meist-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-left: 40px;
    margin-bottom: 40px;
  }

  .meist img {
    display: inherit;
    width: 30%;
    padding-right: 40px;
    margin-bottom: 40px;
  }

  .retseptid {
    display: none;
  }

  hr {
    display: none;
  }

  .gallery-links {
    margin-bottom: 40px;
  }
}
